---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";
import Seperator from "../components/Seperator.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import GetInTouch from "../components/GetInTouch.astro";
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <div class="container">
    <div class="home" id="Home"><Main /></div>
    <!-- <Seperator section="Projects" />
    <div class="aboutme"><Projects /></div>
    <Seperator section="About Me" />
    <div class="about"><AboutMe/></div> -->
    <Seperator section="Get In Touch" />
    <div class="contact"><GetInTouch/></div>
  </div>
  <Footer />
</Layout>

<style>
  .container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
  .container > div {
    margin: 10px;
    width: 100%;
  }

  .home {
    height: 700px;
  }

  .projects {
    background-color: rgb(247, 112, 112);
    height: 700px;
  }

  .aboutme {
    background-color: rgb(38, 0, 119);
    height: 700px;
  }

  .about {
    background-color: rgb(20, 51, 0);
    height: 700px;
  }
</style>
<script></script>
