---
interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;
---

<h3 class="btn-primary"> 
    <a href={href}>
         {title}
    </a>
</button>

<style>
  .btn-primary {
    border-color: #ffffff00;
    
  }
  a {
      text-decoration: none;
      color: #000000;
    }
</style>
