---

---

<section id="getintouch" class="">
  <div class="container">
    <h2>Get in touch with us</h2>
    <form action="https://formspree.io/f/xzbnrazv" method="POST">
      <div class="form-group">
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name" placeholder="Your name" />
      </div>
      <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" placeholder="Your email" />
      </div>
      <div class="form-group">
        <label for="subject">Subject:</label>
        <input
          type="text"
          id="subject"
          name="subject"
          placeholder="Subject of your message"
        />
      </div>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea
          id="message"
          name="message"
          placeholder="Write your message here"></textarea>
      </div>
      <button type="submit" class="btn">Send Message</button>
    </form>
  </div>
</section>

<style>
  .projcts {
    height: 800px;
    width: 100%;
    background-color: rgb(123, 70, 6);
  }

  .container {
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
  }

  textarea {
    height: 150px;
  }

  .btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #3e8e41;
  }
</style>
