---

---

<section id="home" class="d-flex align-items-center">
  <p>Hi, my name is</p>
  <h1>Tadiwanashe David Pfachi. I build things for the web.</h1>
  <p>
    I'm a Harare, Zimbabwe base software engineer who specializes in building
    (and occasionally designing) exceptional digital experiences. Currently, I'm
    an engineer at Upstatement focused on building accessible, human-centered
    products.
  </p>
</section>

<style>
  section {
    height: 100vh;
    width: 1680px;
    background-color: aqua;
  }
  h1 {

  }
</style>
<script></script>
