<!-- ---

---

<div class="main">
  <div class="container">
    <div class="columns">
      <div class="column">
        <section class="background">
          <aside class="container"></aside>
        </section>
        <div></div>
      </div>
    </div>
  </div>
</div>
<style>
  .main {
    height: 100vh;
    background: rgb(32, 45, 61);
    background: linear-gradient(
      0deg,
      rgba(32, 45, 61, 1) 0%,
      rgba(56, 75, 99, 1) 100%
    );
  }

  /* You need to set the background image and the container image as the same thing to achieve this effect */

  .background {
    background: url(../assets/1329894.png)
      left center / cover no-repeat;
    height: 500px;
    width: 1000px;
    margin: 50px;}
    .container {
      min-height: 500px;
      background: url(../assets/1329894.png)
        left center / 200% auto no-repeat;
      width: 50%;
      filter: blur(10px);
    }
  
</style> -->
