---
---
<section id="projects" class="">
    <div class="imageContainer"></div>
    <div class="deatilsContainer">
        <p>hi</p>
        <p></p>
        <button></button>
    </div>
    
</section>

<style>
    .projcts{
        height: 800px;
        width: 100%;
        background-color: rgb(123, 70, 6);
    }
</style>