---
interface Props {
  section: string;
}

const { section} = Astro.props;
---
<div class="bod"><h1 class="text">{section}</h1></div>

<style>
/* Font */
font-family: 'Poppins', sans-serif;

/* Selection */
::selection {
  background-color: #C3CFE2;
}

/* Body */
.bod {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
}

/* Text */
.text {
  text-transform: uppercase;
  background: linear-gradient(to right, #2e4141 0%, #000000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5vw;
}

</style>